<!-- src/app/shared/components/alert/alert.component.html -->
<div @fadeIn class="alert alert-{{type}}" role="alert">
  <div class="alert-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" [innerHTML]="alertIcon"></svg>
  </div>
  <div class="alert-content">{{ message }}</div>
  <button *ngIf="dismissible" type="button" class="alert-close" aria-label="Close" (click)="onClose()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </button>
</div>
